html{
    background-color: #17141d;
    color: antiquewhite;
}

.grid {
    display: grid;
    grid-template-rows: 0.1fr 1fr 2fr;
    grid-template-areas:
        "nav"
        "centre-info"
        "projects";
}

a{
    text-decoration: none;
    color: #17141d;
}

img {
    
}

.btn-info{
    background-color: brown;
}

.nav-bar{
    grid-area: nav;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
}

.resume-btn{
    justify-content: end;
}

.center-info {
    grid-area: centre-info;
}

.projects {
    grid-area: projects;
}