*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    /* background-color: rgba(0, 0, 0, 0.9); */
    background-image: linear-gradient(to bottom, #0e141e, #102744, #0a3b6e, #014f9a, #0763c8);
    color: #fff;
    
    min-height: 100vh;
}

.container{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    min-height: 100vh;
    margin: 0 15vw;

}

.details{
    grid-area: details;
}

.photo{
}

img {
    width: 250px;
    height: auto;
    border-radius: 50%;
}

.project-list{
    margin: 1rem 0;
}

.project-list li{
    list-style-type:square;
    margin: 0.9rem;
}

hr {
    margin: 10px 0;
    color: white;
}

a {
    color: white;
    text-decoration: none;
}

.icons{
    margin-top: 10px;
}

.icons i{
    margin-right: 10px;
}

.resume-btn{
    width: 80px;
    height: 30px;
    color: black;
    background-color: white;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: small;
    margin: 15px 0;
}

@media (max-device-width: 480px){
    .container{
        display: flex;
        flex-direction: column-reverse;
        justify-content: start;
        fle
    }

    .photo{
        margin-top: 60px;
    }

    .details{
        margin-top: 30px
    }

    .details h1, .details p{
        text-align: center;
    }
}